<div class="grid-container">

  <div class="total_statistics"><div>
   <div id="statistics">
     <span class="statistics_overview"><h3>Average Age</h3><p><%=@comedians.average_age%></p></span></br>
     <span class="statistics_overview"><h3>Average Special Run Time</h3><%=@specials.average_run_time.to_i%></h3></br>
     <span class="statistics_overview" id="unique_cities"><h3>Unique Cities</h3><%=@comedians.unique_cities.join(' ')%></span></br>
     <span class="statistics_overview"><h3>Total Specials</h3><%=@specials.count%></span></br>
   </div>
   </div>
 </div>

  <div class="individual_statistics">
   <div id="comedian_stats">
   <% @comedians.each do |comedian| %>
     <div class="comedians">
      <h2><%=comedian.name%></h2></br>
      <h2><%=comedian.city%></h2></br>
      <h2><%=comedian.age%></h2></br>
      <h2><%=comedian.specials.count%></h2></br>
      <% comedian.specials.each do |special| %>
      <div class="specials">
        <h2><%=special.name%></h2></br>
        <h2><%=special.run_time%></h2></br>
        <img src=<%=special.image_url%> /></br>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
