<div>
 <div id = "statistics">
   <%=@comedians.average_age%>
   <%=@specials.average_run_time%>
 </div>

 <div id = "comedian_stats">
 <% @comedians.each do |comedian| %>
   <ul class="comedians">
    <li><%=comedian.name%></li>
    <li><%=comedian.city%></li>
    <li><%=comedian.age%></li>
    <% comedian.specials.each do |special| %>
    <ul class="specials">
      <li><%=special.name%></li>
      <li><%=special.run_time%></li>
      <img src=<%=special.image_url%> />
    </ul>
    <% end %>
   </ul>
<% end %>
</div>
