<% @comedians.each do |comedian| %>
<ul>
  <h3><li><%=comedian.name%></li></h3>
  <h3><li><%=comedian.city%></li></h3>
  <h3><li><%=comedian.age%></li></h3>
</ul>
<% end %>

<% @comedians.specials.each do |special| %>
  <%=special.name%>
  <%=special.run_time%>
  <%=special.image_url%>
<% end %>
